parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method getEntry\\(\\) on array\\|QUI\\\\BackendSearch\\\\ProviderInterface\\.$#"
			count: 1
			path: ajax/getEntry.php

		-
			message: "#^Cannot call method registerFunction\\(\\) on QUI\\\\Ajax\\|null\\.$#"
			count: 1
			path: ajax/getEntry.php

		-
			message: "#^Cannot call method registerFunction\\(\\) on QUI\\\\Ajax\\|null\\.$#"
			count: 1
			path: ajax/getFilterGroups.php

		-
			message: "#^Cannot call method registerFunction\\(\\) on QUI\\\\Ajax\\|null\\.$#"
			count: 1
			path: ajax/getSetting.php

		-
			message: "#^Cannot call method registerFunction\\(\\) on QUI\\\\Ajax\\|null\\.$#"
			count: 1
			path: ajax/search.php

		-
			message: "#^Argument of an invalid type DOMNodeList\\<DOMNode\\>\\|false supplied for foreach, only iterables are supported\\.$#"
			count: 2
			path: src/QUI/BackendSearch/Builder.php

		-
			message: "#^Argument of an invalid type array\\|QUI\\\\BackendSearch\\\\ProviderInterface supplied for foreach, only iterables are supported\\.$#"
			count: 2
			path: src/QUI/BackendSearch/Builder.php

		-
			message: "#^Argument of an invalid type array\\|null supplied for foreach, only iterables are supported\\.$#"
			count: 3
			path: src/QUI/BackendSearch/Builder.php

		-
			message: "#^Binary operation \"\\.\" between non\\-falsy\\-string and array\\|string results in an error\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Builder.php

		-
			message: "#^Cannot call method getCurrent\\(\\) on QUI\\\\Locale\\|null\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Builder.php

		-
			message: "#^Cannot call method getInstalled\\(\\) on QUI\\\\Package\\\\Manager\\|null\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Builder.php

		-
			message: "#^Cannot call method getProfileTemplate\\(\\) on QUI\\\\Users\\\\Manager\\|null\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Builder.php

		-
			message: "#^Cannot call method setCurrent\\(\\) on QUI\\\\Locale\\|null\\.$#"
			count: 2
			path: src/QUI/BackendSearch/Builder.php

		-
			message: "#^Cannot call method truncate\\(\\) on QUI\\\\Database\\\\Tables\\|null\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Builder.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Builder\\:\\:addEntry\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Builder.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Builder\\:\\:getFilterGroups\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Builder.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Builder\\:\\:getLocales\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Builder.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Builder\\:\\:getMenuData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Builder.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Builder\\:\\:getProfileSearchterms\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Builder.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Builder\\:\\:getProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Builder.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Builder\\:\\:getProvider\\(\\) should return array\\|QUI\\\\BackendSearch\\\\ProviderInterface but returns object\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Builder.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Builder\\:\\:getProviderClasses\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Builder.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Builder\\:\\:getProviderClasses\\(\\) should return array but returns array\\|bool\\|object\\|string\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Builder.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Builder\\:\\:getWhereConstraint\\(\\) has parameter \\$filters with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Builder.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Builder\\:\\:getWhereConstraint\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Builder.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Builder\\:\\:parseMenuData\\(\\) has parameter \\$items with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Builder.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Builder\\:\\:parseMenuData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Builder.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, array\\|bool\\|object\\|string given\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Builder.php

		-
			message: "#^Parameter \\#1 \\$string of function trim expects string, array\\|string given\\.$#"
			count: 2
			path: src/QUI/BackendSearch/Builder.php

		-
			message: "#^Property QUI\\\\BackendSearch\\\\Builder\\:\\:\\$locales type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Builder.php

		-
			message: "#^Property QUI\\\\BackendSearch\\\\Builder\\:\\:\\$menu type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Builder.php

		-
			message: "#^Cannot call method exist\\(\\) on QUI\\\\Database\\\\Tables\\|null\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Events.php

		-
			message: "#^Cannot call method get\\(\\) on QUI\\\\Locale\\|null\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Events.php

		-
			message: "#^Cannot call method get\\(\\) on bool\\|QUI\\\\Config\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Events.php

		-
			message: "#^Cannot call method save\\(\\) on bool\\|QUI\\\\Config\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Events.php

		-
			message: "#^Cannot call method set\\(\\) on bool\\|QUI\\\\Config\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Events.php

		-
			message: "#^Parameter \\#1 \\$cron of method QUI\\\\Cron\\\\Manager\\:\\:add\\(\\) expects string, array\\|string given\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Events.php

		-
			message: "#^Parameter \\#1 \\$cron of method QUI\\\\Cron\\\\Manager\\:\\:isCronSetUp\\(\\) expects string, array\\|string given\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Events.php

		-
			message: "#^Cannot call method get\\(\\) on QUI\\\\Locale\\|null\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/Media.php

		-
			message: "#^Cannot call method getProjectList\\(\\) on QUI\\\\Projects\\\\Manager\\|null\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/Media.php

		-
			message: "#^Cannot call method prepare\\(\\) on PDO\\|null\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/Media.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Provider\\\\Media\\:\\:getEntry\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/Media.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Provider\\\\Media\\:\\:getFilterGroups\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/Media.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Provider\\\\Media\\:\\:search\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/Media.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Provider\\\\Media\\:\\:search\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/Media.php

		-
			message: "#^PHPDoc tag @return with type mixed is not subtype of native type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/Media.php

		-
			message: "#^Parameter \\#2 \\$string of function explode expects string, int given\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/Media.php

		-
			message: "#^Argument of an invalid type DOMNodeList\\<DOMNode\\>\\|false supplied for foreach, only iterables are supported\\.$#"
			count: 3
			path: src/QUI/BackendSearch/Provider/Projects.php

		-
			message: "#^Argument of an invalid type array\\|null supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/Projects.php

		-
			message: "#^Cannot call method get\\(\\) on QUI\\\\Locale\\|null\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/Projects.php

		-
			message: "#^Cannot call method getEngine\\(\\) on QUI\\\\Template\\|null\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/Projects.php

		-
			message: "#^Cannot call method getProjectList\\(\\) on QUI\\\\Projects\\\\Manager\\|null\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/Projects.php

		-
			message: "#^Cannot call method getRelatedSettingsXML\\(\\) on QUI\\\\Projects\\\\Manager\\|null\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/Projects.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Provider\\\\Projects\\:\\:getFilterGroups\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/Projects.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Provider\\\\Projects\\:\\:getProjectSettingsSearchTerms\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/Projects.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Provider\\\\Projects\\:\\:search\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/Projects.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Provider\\\\Projects\\:\\:search\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/Projects.php

		-
			message: "#^PHPDoc tag @return with type mixed is not subtype of native type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/Projects.php

		-
			message: "#^Parameter \\#1 \\$string of function trim expects string, array\\|string given\\.$#"
			count: 2
			path: src/QUI/BackendSearch/Provider/Projects.php

		-
			message: "#^Parameter \\#2 \\$array of function implode expects array\\<string\\>, array\\<int\\<0, max\\>, array\\|string\\> given\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/Projects.php

		-
			message: "#^Argument of an invalid type DOMNodeList\\<DOMNode\\>\\|false supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/SettingsCategories.php

		-
			message: "#^Argument of an invalid type array\\|null supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/SettingsCategories.php

		-
			message: "#^Binary operation \"\\.\" between array\\|string and ' \\-\\> ' results in an error\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/SettingsCategories.php

		-
			message: "#^Binary operation \"\\.\" between non\\-falsy\\-string and array\\|string results in an error\\.$#"
			count: 2
			path: src/QUI/BackendSearch/Provider/SettingsCategories.php

		-
			message: "#^Cannot call method getCurrent\\(\\) on QUI\\\\Locale\\|null\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/SettingsCategories.php

		-
			message: "#^Cannot call method setCurrent\\(\\) on QUI\\\\Locale\\|null\\.$#"
			count: 2
			path: src/QUI/BackendSearch/Provider/SettingsCategories.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Provider\\\\SettingsCategories\\:\\:getFilterGroups\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/SettingsCategories.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Provider\\\\SettingsCategories\\:\\:parseSearchDataFromSettingsXmlItem\\(\\) has parameter \\$item with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/SettingsCategories.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Provider\\\\SettingsCategories\\:\\:parseSearchDataFromSettingsXmlItem\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/SettingsCategories.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Provider\\\\SettingsCategories\\:\\:parseSettingsMenuData\\(\\) has parameter \\$items with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/SettingsCategories.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Provider\\\\SettingsCategories\\:\\:parseSettingsMenuData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/SettingsCategories.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Provider\\\\SettingsCategories\\:\\:search\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/SettingsCategories.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Provider\\\\SettingsCategories\\:\\:search\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/SettingsCategories.php

		-
			message: "#^PHPDoc tag @return with type mixed is not subtype of native type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/SettingsCategories.php

		-
			message: "#^Parameter \\#2 \\$array of function implode expects array\\<string\\>, array\\<int\\<0, max\\>, array\\|string\\> given\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/SettingsCategories.php

		-
			message: "#^Cannot call method get\\(\\) on QUI\\\\Locale\\|null\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/Sites.php

		-
			message: "#^Cannot call method getProjectList\\(\\) on QUI\\\\Projects\\\\Manager\\|null\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/Sites.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Provider\\\\Sites\\:\\:getEntry\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/Sites.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Provider\\\\Sites\\:\\:getFilterGroups\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/Sites.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Provider\\\\Sites\\:\\:search\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/Sites.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Provider\\\\Sites\\:\\:search\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/Sites.php

		-
			message: "#^PHPDoc tag @return with type mixed is not subtype of native type array\\.$#"
			count: 2
			path: src/QUI/BackendSearch/Provider/Sites.php

		-
			message: "#^Parameter \\#2 \\$string of function explode expects string, int given\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/Sites.php

		-
			message: "#^Cannot call method get\\(\\) on QUI\\\\Locale\\|null\\.$#"
			count: 2
			path: src/QUI/BackendSearch/Provider/UsersAndGroups.php

		-
			message: "#^Cannot call method prepare\\(\\) on PDO\\|null\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/UsersAndGroups.php

		-
			message: "#^Cannot call method table\\(\\) on QUI\\\\Groups\\\\Manager\\|null\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/UsersAndGroups.php

		-
			message: "#^Cannot call method table\\(\\) on QUI\\\\Users\\\\Manager\\|null\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/UsersAndGroups.php

		-
			message: "#^Cannot call method tableAddress\\(\\) on QUI\\\\Users\\\\Manager\\|null\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/UsersAndGroups.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Provider\\\\UsersAndGroups\\:\\:getEntry\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/UsersAndGroups.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Provider\\\\UsersAndGroups\\:\\:getFilterGroups\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/UsersAndGroups.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Provider\\\\UsersAndGroups\\:\\:search\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/UsersAndGroups.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Provider\\\\UsersAndGroups\\:\\:search\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Provider/UsersAndGroups.php

		-
			message: "#^Parameter \\#1 \\$string of function mb_substr expects string, int given\\.$#"
			count: 2
			path: src/QUI/BackendSearch/Provider/UsersAndGroups.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\ProviderInterface\\:\\:getEntry\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/ProviderInterface.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\ProviderInterface\\:\\:getFilterGroups\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/ProviderInterface.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\ProviderInterface\\:\\:search\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/ProviderInterface.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\ProviderInterface\\:\\:search\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/ProviderInterface.php

		-
			message: "#^Argument of an invalid type array\\|QUI\\\\BackendSearch\\\\ProviderInterface supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Search.php

		-
			message: "#^Cannot call method prepare\\(\\) on PDO\\|null\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Search.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Search\\:\\:getEntry\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Search.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Search\\:\\:search\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Search.php

		-
			message: "#^Method QUI\\\\BackendSearch\\\\Search\\:\\:search\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/QUI/BackendSearch/Search.php
